* {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    box-shadow: 20px;
  }

  .head-space {
    position: relative; 
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    margin-top: 0px;
    color:white;
    width: 100%;
    justify-content: left; 
}
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: #7fca38;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .tree-beard {
    height: 500px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("greedy-photo/pretty-green.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  .kewl {
    height: 500px;
    width: 70%;
    margin-top: 0px;
    margin-bottom: 3px;
    background-image: url("/greedy-photo/kewl.png");
    background-size: cover;
    background-position: left;
}
  
  .lol {
    position: fixed;
    right: 30%;
    top: 0;
    border-top: solid 3px #151413;
    max-width: 50px;
  }

  .card {
    background: linear-gradient(rgb(171, 179, 171), rgb(19, 98, 1));
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border: solid 5px rgba(88, 198, 90, 0.825);
  }
  
  .card header {
    font-family: apple chancery, cursive;
    font-size: xx-large;
    padding: 5px;
    
    color: #fff;
    border:solid 3px #151413;
    border-radius: 10px;
    background: linear-gradient(rgb(28, 170, 28), rgb(17, 79, 3));
    color: rgb(206, 222, 210);
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }

  .stumpy {
    height: 300px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 25px;
    background-image: url("greedy-photo/stump.JPG");
    background-size: cover;
    background-position: center;
}

  @media screen and (min-width: 1025px) {
    .card {
      width: 25%;
    }
   .card img {
    height: 100px;
   }
    header {
      background: #3e783e;
    }
  }
  @media screen and (max-width: 1024px) {
    .card {
      width: 25%;
    }
   
    header {
      background: #277827;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    .card {
      width: 50%;
    }
    
    header {
      background: #4cd675;
    }
  }
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
      justify-content: center;
    }
    .card img {
        height: 500px;
        
       }
    .riley {
        max-width: 50%;
        max-height: 25%;
       
    }
    header {
      background: #3cad3e;
    }
  }